.wrap {
  width: 1000px;
  margin: auto;
}

.comment {
  color: blue;
  font-weight: bold;
}

.treeon_img {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

.treeon_title {
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #fafafa;
}

.table {
  text-align: center;
  border-collapse: collapse;
  border-top: 3px solid #168;
}

.table th {
  color: #168;
  background: #f0f6f9;
  text-align: center;
  white-space:nowrap;
}

#contents_add > tr > td.row {
  margin-left: 15px;
}

.treeon_logo {
  clear: both;
  position: relative;
}