
.table th {
  color: #168;
  background: #f0f6f9;
  text-align: center;
  white-space:nowrap;
}

#coentents_add {
  text-align: center;
}

#contents_add > tr > td.row {
  margin-left: 30px;
  width: 5%;
  text-align: center;
}

#contents_add > tr > td.title {
  width: 30%;
}

#contents_add > tr > td.position {
  width: 30%;
  overflow-y:auto;
  overflow-x:hidden;
}

#contents_add > tr > td.name {
  width: 10%;

}

#contents_add > tr > td.region {
  width: 10%;
}

#dtBasicExample_wrapper {
  width: 1000px;
  text-align: center;
  margin: auto;
  font-size: 75%;
}

#dtBasicExample_length {
  text-align: left;
}

#dtBasicExample_info {
  text-align: left;
}