<!doctype html>
<html lang="ko">

<html>

<head>

    <!-- Webpage Title -->
    <title> Treeon ㅣ 한눈에 쏙 경력관리</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- css file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='treeon_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- 구글 폰트-->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cute+Font|Gamja+Flower&display=swap" rel="stylesheet">

</head>

<body>

    <!-- 헤드 -->
    <header id="header" class="alt">
        <div class="inner">
            <h1>Treeon</h1>
            <p> 경력관리를 원한다면? <a href="#">Career</a></p>
            <p> 언제나 이직정보를 빠르게 확인하고 싶다면? <a href="/">Treeon</a></p>
        </div>
    </header>

    <!-- CTA -->
    <section id="cta" class="main special">
        <h2> 한눈에 쏙 경력관리</h2>
        <p>내 경력을 차곡차곡 정리해보세요</p>

        <p style="color:red" > 준비중입니다. 조금만 기다려주세요 :)</p>
    </section>

</body>